.form-container{
    border: 1px solid #0e464f;
    margin: 2vw 20vw;
    color: white;
    border-radius: 20px;

    /* display: flex;
    flex-direction: column; */
}

.form-container .step2 .line2{
    background-color: #24a0b5;
}
.form-container .form .lines{
    background: #0e464f;
    margin:  2vw;
    height: 0.4vh;
}

.form-container .form form{
    display: flex;
    border: 1px solid #0e464f;
    margin: 2vw 5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.form-container .form form label{
    margin: 0 1vw;
}

.form-container .form form input,
.form-container .form form textarea{
    background-color: #02191d;
    outline: #07373f;
    border: 1px solid #07373f;
    padding: 0.5rem 1vw;
    color: white;
    border-radius: 4px;
    margin: 1vw;
    cursor: pointer;
    resize: none;
    
}

.form-container .form form input:focus,
.form-container .form form textarea:focus{
    outline: 3px solid white;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.form-container .form form .upload{
    border: 1px solid #07373f;
    background: #052228;
    margin: 2vw;
    border-radius: 10px;
    padding: 2vw;

    
}

.form-container .form form .upload label{
    margin: 2vw 0;
    
    text-align: center;
}
.form-container .form form .upload .upload-inner{
    background: #02161a;
    margin: 2vw auto;
    padding: 5.5vw 4vw;
    position: relative;
}

.form-container .form form .upload  input{
    width: 95%;
    margin: auto;
    /* padding-left: 1vw; */
    
}

.form-container .form form .upload .upload-inner .dragNdrop{
    background: #001e24;
    width: 30%;
    height: 21vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.2vw;
    padding: 1vw;
    position: absolute;
    top: -1vw;
    right: 13vw;
    border-radius: 10px;

}

.form-container .form form .upload .upload-inner .dragNdrop p{
    font-size: 0.7rem;
    white-space: wrap;
}

.form-container .form form .formbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container .form form .formbtn .backbtn,
.form-container .form form .formbtn .get-ticket{
    padding: 1vw 8vw;
    margin: 1vw 2vw;
}

.form-container .form form .formbtn .backbtn{
    background: transparent;
    border: 1px solid #24a0b5 ;
    outline: none;
    color: #24a0b5;
}

.form-container .form form .formbtn .backbtn:focus{
    outline: 3px solid #24a0b5 ;
}

.form-container .form form .formbtn .backbtn:hover{
    background: #24a0b5;
    border: none;
    color: white;
}
/* .form-container .form form .formbtn .get-ticket{
    background: #24a0b5;
    border: none;
    color: white;
} */

@media (min-width: 300px) and (max-width: 1024px) {
    .form-container .form form{
        border: none;
    }

    .form-container .form form .upload{
        border: 1px solid #07373f;
        background: #052228;
        margin: 1vw 0;
        border-radius: 10px;
        padding: 2vw;
    
    
        
    }
    
    .form-container .form form .upload label{
        margin:  0;
        padding: 0;
        
        font-size: 0.6rem;
        text-align: center;
    }
    .form-container .form form .upload .upload-inner{
        background: transparent;
        
        
        padding: 2vw;
    }


    .form-container .form form .upload  input{
        
        margin: 0 auto;
    }
    
    .form-container .form form .upload .upload-inner .dragNdrop{
        background: #001e24;
        margin: 0;
        width: 100%;
        height: 21vh;
          right: 1vw;
        position: relative;
    
    }

    .form-container .form form label{
        margin: 0.5vw 1vw;
        font-size: 0.7rem;
    }
    
    .form-container .form form input,
    .form-container .form form textarea{
        
        padding: 0.5rem 1vw;
        color: white;
        border-radius: 4px;
        margin: 1.5vw 1vw;
        cursor: pointer;
        
    }

    .form-container .form form textarea{
        height: 10vh;
    }

    .form-container .form form .formbtn{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .form-container .form form .formbtn .backbtn,
    .form-container .form form .formbtn .get-ticket{
        padding: 1.5vw 22vw;
    }
}