.form-container{
    border: 1px solid #0e464f;
    margin: 2vw auto;
    color: white;
    border-radius: 20px;
    height: auto;
    max-width: 60%;
}

.form-container .step2 .line2{
    background-color: #24a0b5;
}
.form-container .form .lines{
    background: #0e464f;
    margin:  2vw;
    height: 0.4vh;
}

.form-container .form form{
    display: flex;
    border: 1px solid #0e464f;
    margin: 2vw auto;
    max-width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.form-container .form form label{
    margin: 0 1vw;
    font-size: 2vw;
}

.form-container .form form input,
.form-container .form form textarea{
    background-color: #02191d;
    outline: #07373f;
    border: 1px solid #07373f;
    padding: 0.5rem 1vw;
    color: white;
    border-radius: 4px;
    margin: 0 1vw;
    cursor: pointer;
    resize: none;
    
}

.form-container .form form input:focus,
.form-container .form form textarea:focus{
    outline: 3px solid white;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.form-container .form form .upload{
    border: 1px solid #07373f;
    background: #052228;
    margin: 2vw;
    border-radius: 10px;
    padding: 2vw;

    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.form-container .form form .upload label{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 2vw;
    /* border: 2px solid red; */
}
.form-container .form form .upload .upload-inner{
    background: #02161a;
    padding: 10vw; 
    height: auto;
    position: relative;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vw;
}

.form-container .form form .upload  input{
    width: 95%;
    margin: auto;
    /* border: 2px solid darkblue; */
    /* padding-left: 1vw; */
    
}

.form-container .form form .upload .upload-inner .dragNdrop{
    background: #001e24;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120%;
    position: absolute;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.form-container .form form .upload .upload-inner .dragNdrop p{
    font-size: 1.5vw;
    margin: 2vw;
    white-space: wrap;
}

.form-container .form form .formbtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container .form form .formbtn .backbtn,
.form-container .form form .formbtn .get-ticket{
    padding: 1em 8em;
    margin: 1vw 2vw;
}

.form-container .form form .formbtn .backbtn{
    background: transparent;
    border: 1px solid #24a0b5 ;
    outline: none;
    color: #24a0b5;
}

.form-container .form form .formbtn .backbtn:focus{
    outline: 3px solid #24a0b5 ;
}

.form-container .form form .formbtn .backbtn:hover{
    background: #24a0b5;
    /* border: none; */
    outline: none;
    color: white;
}
/* .form-container .form form .formbtn .get-ticket{
    background: #24a0b5;
    border: none;
    color: white;
} */

@media (max-width: 600px) {

    .form-container .form form .formbtn{
        display: flex;
        flex-direction: column-reverse;
    }
}