.ticketTypeContainer {
    border: 1px solid #24a0b5;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    width: 100%;
    display: flex;
    /* margin: 2vw;
    padding: 1vw; */
    
}

.ticketTypeContainer:hover{
    cursor: pointer;
    background-color: #197686;
}

.ticketType{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 2vw; 
}


.ticketType h1,
.ticketType p {
    margin-bottom: 0.5vw;
    margin-top: 0;
    /* margin-left: 2vw; */
    
}
.ticketType h1{
    /* font-size: 2vw; */
    font-weight: 800;
    margin-bottom: 1vw;
    font-size: clamp(14px, 2vw, 18px);
}
.ticketType p{
    /* font-size: 1vw; */
    font-weight: 100;
    /* border: 2px solid red; */
    font-size: clamp(8px, 1vw, 16px);
}
