.ticket {
    display: flex;
    flex-direction: column;
  
   
}

.ticket .ticket-container .step3 .line3{
    background-color: #24a0b5;
}


.ticket .ticket-container{
    border: 1px solid #0e464f;
    /* max-width: 100%; */
    color: white;
    border-radius: 20px;
    margin: 2vh 10vw;
    
}

.ticket .ticket-container .ticket-inner-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

/* .ticket .ticket-container .ticket-inner-container .ticketHeading{
 
  font-size: 1vw;
} */
.ticket .ticket-container .ticket-inner-container .ticketHeading h1{
  font-size: clamp(12px, 2vw, 24px);
  margin-top: 3vh;
  margin-bottom: 0;
}
.ticket .ticket-container .ticket-inner-container .ticketHeading p{
  font-size: clamp(9px, 2vw, 24px);
  margin-top: 1vh;
}

.ticketImage {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

    position: relative;
    
}

.ticketImage .ticket-image{
  max-width: 100%;
  width: 100%;
  height: 100vh;
  
}

.ticketImage .ticketCard{
  border: 4px solid #0e464f;
  position: absolute;
  top: 5%;
  border-radius: 10px;
  max-width: 85%;
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 2%;
}

/* .ticketImage .ticketCard .ticket-text{
  border: 2px solid red;
  width: 100%;
} */

.ticketImage .ticketCard .ticket-text h1{
  font-size: clamp(18px, 4vw, 22px);
  
}

.ticketImage .ticketCard p {
  font-size: clamp(12px, 0.424vw, 20px);
  margin-bottom: 0;
}
.ticketImage .ticketCard .ticket-img img{
    max-width: 70%;
    height: auto;
    /* margin: 1vw 0; */
    border: 3px solid #24a0b5;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(36, 159, 181, 0.452);
}


.ticket-table{
    border-collapse: collapse;
    border: 1px solid #0e464f;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;

    background: #08343c;
    /* font-size: 70%; */
    font-size: clamp(8px, 2vw, 10px);
    text-align: center;
    
    
  }

  td:nth-of-type(1){
    border-right: 1px solid #0e464f;
    /* width: 100%; */
  }

  thead td{
    padding: 2vh 0;
  }

  tbody td{
    border-bottom: 1px solid #0e464f;
    width: 20%;
  }

  .ticket-table .special-request p{
    font-size: clamp(8px, 2vw, 10px);
  }

.ticketImage .bar-code{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 3%;
}
.ticketImage .bar-code img{
    /* width: 25vw */
    max-width: 100%;
    /* width: 300px; */

    width: clamp(200px, 50vw, 270px);
    height: 10vh;
}





  .ticketbton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
    background: transparent;
  }

  .ticketbton .transparentbtn,
  .ticketbton .colouredbtn{
    /* padding: 1vw 8vw;
    margin: 1vw 2vw; */
    margin: 2% 0;
    padding: 1em 8em;
  }

  .ticketbton .transparentbtn{
    background: transparent;
    border: 1px solid #24a0b5 ;
    outline: none;
    color: #24a0b5;
  }

  .ticketbton .transparentbtn:hover{
    background: #24a0b5;
    border: none;
    color: white;
  }

  .ticketbton .transparentbtn:focus{
    outline: 3px solid #24a0b5 ;
  }

  /* .ticketbton .colouredbtn{
    background: #24a0b5;
    border: none;
    color: white;
  } */

  @media (max-width: 600px){

  .ticketbton{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
  }

  }