body {
  background: radial-gradient(ellipse 150% 90% at bottom, #0e464f 0%, #02191d 30%, #02191d 90%);
  height: 100vh;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
